<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!-- AWS Cognito Identity Settings -->
		<add key="AWSRegion" value="US-East-2" />
		<add key="CLIENT_ID" value="7dpaqpkf9b5pjp9gg94k3gndld" />
		<add key="USERPOOL_ID" value="us-east-2_5823vgrxD" />
		<add key="IDENITYPOOL_ID" value="us-east-2:bd9037c3-26d6-432a-a6a9-9d66281f49ba" />
		<add key="IDENITY_PROVIDER" value="cognito-idp.us-east-2.amazonaws.com/" />
	</appSettings>

</configuration>